/*********** HEADER ************/

header {
    background-color: #fcd78d;
    color: #ed9e00;
    padding: 10px;
    top: 0;
    position : sticky;
    z-index: 1;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400; 
    text-align: left;
    padding-left: 15px;
    padding-bottom: 0px;
    margin: 0;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

footer h2 {
    padding-left: 15px;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

#logo {
    padding: 30px 0 10px 30px;
}

nav {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    text-align: right;
    padding-right: 30px;
}

.navTab {
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: #ed9e00;
    font-size: 18px;
}

/*********** HOME CONTENT ************/

.homeContent{
    font-family: 'Source Sans Pro', sans-serif;
}

.contentHeader{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: #ed9e00;
}

/*********** INITIALIZE HOME ROW / COLUMN ************/

.homeCol1 {
    float: left;
    width: 60%;
    padding-top: 30px;
    margin: 0;
}

.homeCol2 {
    float: left;
    width: 40%;
    padding-top: 30px;
    margin: 0;
}

.homeRow::after {
    content: "";
    /* display: table; */
    clear: left;
    display: table;
}

/*********** BEGIN ORDER BUTTON & IMAGE ************/

#beginOrder{
    width: 720.8px;
    height: 409px;
    padding-left: 30px;
    position: relative;
    margin: 0;
}

#croppedBun {
    width: 720.8px; /* width of container */
    height: 409px; /* height of container */
    object-fit: cover; 
}

#orderButton {
    width: 264px;
    height: 92px;
    position: absolute;
    right: 50px;
    bottom: 20px;
    background-color: #ed9e00;
}

#orderLink {
    line-height: 92px;
    text-align: center;
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding-left: 20px;
}

/*********** STORE LOCATOR ************/

/* #locator {
    padding: 30px 0 0 30px;
} */

#map {
    width: 480px;
    height: 283px;
}

/*********** ABOUT SECTION ************/

#about {
    padding: 0 70px 0 30px;
}

#bakeCrop{
    width: 365px;
    height: 240px;
    padding-left: 30px;
    position: relative;
    margin: 0;
    bottom: 0;
    right: 0;
}

#baker {
    width: 365px;
    height: 240px;
    object-fit: cover;
    padding-left: 30px;
}

/*********** NEWS SECTION ************/


/*********** FOOTER ************/

footer {
    background-color: #fcd78d;
    color: #ed9e00;
    height: 100px;
    margin-top: 100px;
    padding-bottom: 10px;
    position : static;
    bottom : 0;
}