/*********** HEADER (Global) ************/

header {
    background-color: #fcd78d;
    color: #ed9e00;
    padding: 10px;
    top: 0;
    position : sticky;
    z-index: 1;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400; 
    text-align: left;
    padding-left: 15px;
    padding-bottom: 0px;
    margin: 0;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

footer h2 {
    padding-left: 15px;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.logo {
    padding: 30px 0 10px 30px;
}

nav {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    text-align: right;
    padding-right: 30px;
}

.navTab {
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: #ed9e00;
    font-size: 18px;
}

/********************************* HOME CONTENT **********************************/

.homeContent{
    font-family: 'Source Sans Pro', sans-serif;
}

.contentHeader{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: #ed9e00;
}

/*********** INITIALIZE HOME ROW / COLUMN ************/

.homeCol1 {
    float: left;
    width: 60%;
    padding-top: 30px;
    margin: 0;
}

.homeCol2 {
    float: left;
    width: 40%;
    padding-top: 30px;
    margin: 0;
}

.homeRow::after {
    content: "";
    clear: left;
    display: table;
}

/*********** BEGIN ORDER BUTTON & IMAGE ************/

#beginOrder{
    width: 720.8px;
    height: 409px;
    padding-left: 30px;
    position: relative;
    margin: 0;
}

#croppedBun {
    width: 720.8px; /* width of container */
    height: 409px; /* height of container */
    object-fit: cover; 
}

#orderButton {
    width: 264px;
    height: 92px;
    position: absolute;
    right: 50px;
    bottom: 20px;
    background-color: #ed9e00;
}

#orderLink {
    line-height: 92px;
    text-align: center;
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding-left: 20px;
}

/*********** STORE LOCATOR ************/

/* #locator {
    padding: 30px 0 0 30px;
} */

#map {
    width: 480px;
    height: 283px;
}

/*********** ABOUT SECTION ************/

#about {
    padding: 0 70px 0 30px;
}

#bakeCrop{
    width: 365px;
    height: 240px;
    padding-left: 30px;
    position: relative;
    float: right;
    margin: 0;
    bottom: 0;
    right: 0;
}

#baker {
    width: 365px;
    height: 240px;
    object-fit: cover;
    padding-left: 30px;
    float: right;
}

/*********** NEWS SECTION ************/

.article {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;

}

/********************************* ORDER PAGE **********************************/

.orderStep {
    align-content: center;
    width: 80%;
    height: 84px;
    background-color: #ed9e00;   
    text-align: left;
    line-height: 84px;
    margin:  30px auto 0 ;
}

.stepLabel {
    padding-left: 30px;
    color: white;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

.stepExp {
    position: relative;
    width: 80%;
    height: 236px;
    background-color: white; 
    border-style: solid;
    border-width: medium;  
    border-color: #ed9e00;
    box-sizing: border-box;
    text-align: left;
    margin: auto;
}

#bunSelection {
    position: relative;
    width: 80%;
    height: 549px;
    background-color: white; 
    border-style: solid;
    border-width: medium;  
    border-color: #ed9e00;
    box-sizing: border-box;
    text-align: left;
    margin: auto;
}

.stepContent {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 30px 0 0 30px;
}

.type {
    padding: 20px 40px;
    margin-right: 30px;
    background-color: white; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #ed9e00;
    border-style: solid;
    border-width: thin;  
    border-color: #ed9e00;
    transition-duration: 0.4s;
}

.type:hover {
    background-color: #ed9e00; 
    font-weight: 600;
    color: white;
}

.next {
    float: right;
    position: absolute;
    bottom: 20px;
    right: 10px;
    padding: 10px 40px;
    margin-right: 30px;
    background-color: white; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #ed9e00;
    border-style: solid;
    border-width: thin;  
    border-color: #ed9e00;
    transition-duration: 0.4s;
}

.next:hover {
    background-color: #ed9e00; 
    font-weight: 600;
    color: white;
}

.num {
    padding: 25px;
    margin-right: 30px;
    background-color: white; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #ed9e00;
    border-style: solid;
    border-width: thin;  
    border-color: #ed9e00;
    transition-duration: 0.4s;
}

.num:hover {
    background-color: #ed9e00; 
    font-weight: 600;
    color: white;
}

#allBuns {
    position: absolute;
    top: 50px;
    left: 30px;
    width: 600px;
    height: 440px;
    margin-top: 30px;
}

.bun {
    position: relative;
    width: 170px;
    height: 170px;
    background-image: url("https://i.imgur.com/gNDH9rn.jpg");
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
}

.bunText {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.bunPlus {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    background-color: #ed9e00;
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    border-style: none;
}

.bunPlus:hover {
    background-color: #fcd78d; 
}

.bunDetails {
    width: 350px;
    height: 170px;
    position: absolute;
    background-color: white;
    border-style: solid;
    border-width: thin;  
    border-color: #ed9e00;
    z-index: 1;
}

.glazeSelect {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 10px;
    width: 50%;
    height: 90%;
}

.glazeList {
    list-style: none;
    padding-left: 5px;
}

.numSelect {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 10px;
    right: 0;
    width: 50%;
    height: 90%;
    border-style: solid;
    border-width: 0 0 0 thin;  
    border-color: #ed9e00;
    text-align: center;
}

.add {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: white; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #ed9e00;
    border-style: solid;
    border-width: thin;  
    border-color: #ed9e00;
    transition-duration: 0.4s;
}

.add:hover {
    background-color: #ed9e00; 
    font-weight: 600;
    color: white;
}

#yourSum {
    position: absolute;
    top: 50px;
    right: 30px;
    width: 40%;
    height: 390px;
    border-style: solid;
    border-width: 0 0 0 thin;  
    border-color: grey;
    margin-top: 30px;
}

.totalPrice {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: right;
    margin-right: 40px;
}

.bunCounter {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: right;
    margin-right: 40px;
}

/*********** FOOTER (Global) ************/

footer {
    background-color: #fcd78d;
    color: #ed9e00;
    height: 100px;
    margin-top: 100px;
    padding-bottom: 10px;
    position : static;
    bottom : 0;
}